@media screen and (max-width: 800px) {
  body {
    background-color: #00002f;
  }

  .container::before {
    background-image: none;
  }

  #results {
    top: 5%;
  }

  .back {
    position: relative;
    display: block;
    margin: 0 auto;
    left: 0;
    margin: 0 1rem;
  }

  .result {
    flex-direction: column;
  }

  .details table {
    overflow: scroll;
  }

  .details {
    max-width: 100%;
  }

  .stations {
    width: 70%;
  }

  .details-buttons-accept {
    font-size: 1rem;
    padding: 1rem;
  }
}
